@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


#dropdown-menu-2btn-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2 .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-2 .nav .link,
#dropdown-menu-2btn-2 .dropdown-item {
  font-size: 1em;
  color: #28324e;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-2 .navbar,
#dropdown-menu-2btn-2 .dropdown-menu {
  background: #fac51c;
}
#dropdown-menu-2btn-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2 .dropdown-menu a:hover,
#dropdown-menu-2btn-2 .dropdown-menu a:focus {
  background: #fac008;
}
#dropdown-menu-2btn-2 .navbar-toggler {
  color: #28324e;
}
#dropdown-menu-2btn-2 .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-2 A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#header1-1j H1 {
  color: #ffffff;
  font-size: 32px;
}
#header1-1j P {
  color: #28324e;
  text-align: left;
}
#msg-box4-o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #ffffff;
  text-align: left;
}
#msg-box4-o .mbr-article DIV {
  text-align: left;
}
#slider-q SPAN {
  font-size: 19px;
}
#slider-q H1 {
  text-align: center;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #28324e;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #fac51c;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #fac008;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #28324e;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#form1-k .mbr-header__text {
  color: #fac51c;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #28324e;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #fac51c;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #fac008;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #28324e;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#form1-i .mbr-header__text {
  color: #fac51c;
}
#contacts1-l P {
  text-align: left;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #28324e;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #fac51c;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #fac008;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #28324e;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#msg-box5-i .mbr-header__text {
  color: #28324e;
}
#msg-box5-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-i .mbr-article {
  color: #ffffff;
}
#msg-box5-i .mbr-article P {
  color: #000000;
}
#slider-1j SPAN {
  font-size: 19px;
}
#slider-1j H1 {
  text-align: center;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #28324e;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #fac51c;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #fac008;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #28324e;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
  text-align: left;
}


#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #28324e;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #fac51c;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #fac008;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #28324e;
}
#dropdown-menu-2btn-c .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-c A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#form1-d .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
}


#dropdown-menu-2btn-1d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1d .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-1d .nav .link,
#dropdown-menu-2btn-1d .dropdown-item {
  font-size: 1em;
  color: #28324e;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-1d .navbar,
#dropdown-menu-2btn-1d .dropdown-menu {
  background: #fac51c;
}
#dropdown-menu-2btn-1d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1d .dropdown-menu a:hover,
#dropdown-menu-2btn-1d .dropdown-menu a:focus {
  background: #fac008;
}
#dropdown-menu-2btn-1d .navbar-toggler {
  color: #28324e;
}
#dropdown-menu-2btn-1d .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-1d A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#slider-1e H1 {
  font-size: 36px;
}
#slider-1e P {
  text-align: center;
  font-size: 15px;
}
#slider-1e SPAN {
  font-size: 20px;
}
#testimonials1-1g .mbr-reviews__text P {
  text-align: left;
}
